<div class="container">
    <div class="row">
      <div class="col espacio lado">
        <div class="card text-center border border-primary" >
            <div class="card-header bg-primary">
                <h5 class="text-bar">Nuestros datos</h5>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <div *ngIf="carga1; else noCargado">
                  <h2 class="card-title">Temperatura: {{climas[0].AMBIENT_TEMPERATURE}} C°</h2>
                  <b class="card-text text-center">
                    Presion: {{climas[0].AIR_PRESSURE}} hPa<br>
                    Humedad: {{climas[0].HUMIDITY}}%
                  </b>
                </div>
                <ng-template #noCargado>
                  <div class="spinner-border text-primary align-middle" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <h3>Cargando...</h3><br>
                </ng-template>
              </blockquote>
            </div>
          </div>
      </div>
      <div class="col espacio">
        <div class="card text-center border border-primary">
            <div class="card-header bg-primary">
                <h5 class="text-bar">OpenWeather</h5>
            </div>
            <div class="card-body">

              <blockquote class="blockquote mb-0">
                <div *ngIf="carga2; else noCargado2">
                  <div class="cropped" [ngSwitch]="cielo">
                    
                  </div>
                  <h2 class="card-title">Temperatura: {{temp}} C°</h2>
                  <b class="card-text text-center">
                      Presion: {{pres}} hPa<br>
                      Humedad: {{hum}}%
                    </b>
                </div>
                <ng-template #noCargado2>
                  <div class="spinner-border text-primary align-middle" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <h3>Cargando...</h3><br>
                </ng-template>
              </blockquote>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="espacio">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-rf-tab" data-bs-toggle="tab" data-bs-target="#nav-rf" type="button" role="tab" aria-controls="nav-rf" aria-selected="true">RF</button>
        <button class="nav-link borde" id="nav-dnn-tab" data-bs-toggle="tab" data-bs-target="#nav-dnn" type="button" role="tab" aria-controls="nav-dnn" aria-selected="false">DNN</button>
        <button class="nav-link borde" id="nav-arima-tab" data-bs-toggle="tab" data-bs-target="#nav-arima" type="button" role="tab" aria-controls="nav-arima" aria-selected="false">ARIMA</button>
        <button class="nav-link borde" id="nav-lstm-tab" data-bs-toggle="tab" data-bs-target="#nav-lstm" type="button" role="tab" aria-controls="nav-lstm" aria-selected="false">LSTM</button>
        <button class="nav-link borde" id="nav-error-tab" data-bs-toggle="tab" data-bs-target="#nav-error" type="button" role="tab" aria-controls="nav-error" aria-selected="false">% Error</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-rf" role="tabpanel" aria-labelledby="nav-rf-tab">
        <!--Contenido del TAB-->
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Porcentaje de error promedio</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h2>Random Forest</h2>
              <!----------------------------------------------------------------------------------------------->
              <div class="table-wrapper-scroll-y my-custom-scrollbar_3">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col">Test</th>
                      <th class="header" scope="col">Humedad relativa</th>
                      <th class="header" scope="col" >Presion atmosferica</th>
                      <th class="header" scope="col">Temperatura</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="header" scope="col">Test tradicional</th>
                      <td>2,08583333</td>
                      <td>0,26495833</td>
                      <td>0,39286111</td>
                    </tr>
                    <tr>
                      <th class="header" scope="col">Test de autonomía</th>
                      <td>9,36986139</td>
                      <td>1,31571181</td>
                      <td>1,97737499</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>
        
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Nuestras predicciones</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <!----------------------------------------------------------------------------------------------->
              <!----------------------------------------------------------------------------------------------->
              <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="carga1; else noCargado">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col" >Temperatura (C°)</th>
                      <th class="header" scope="col">Presion (hPa)</th>
                      <th class="header" scope="col">Humedad (%)</th>
                      <th class="header" scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let datos of Modelo1;">
                      <td>{{datos.AMBIENT_TEMPERATURE}}</td>
                      <td>{{datos.AIR_PRESSURE}}</td>
                      <td>{{datos.HUMIDITY}}%</td>
                      <td>{{datos.utc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ng-template #noCargado>
                  <div class="spinner-border text-primary align-middle" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <h3>Cargando...</h3><br>
                </ng-template>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_temp_m1" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_press_m1" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_hum_m1" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <!--Fin cntendino del TAB-->

      </div>
      <div class="tab-pane fade" id="nav-dnn" role="tabpanel" aria-labelledby="nav-dnn-tab">
        <!--Contenido del TAB-->
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Porcentaje de error promedio</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h2>Deep Neural Networks</h2>
              <!----------------------------------------------------------------------------------------------->
              <div class="table-wrapper-scroll-y my-custom-scrollbar_3">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col">Test</th>
                      <th class="header" scope="col">Humedad relativa</th>
                      <th class="header" scope="col" >Presion atmosferica</th>
                      <th class="header" scope="col">Temperatura</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="header" scope="col">Test tradicional</th>
                      <td>5,24336752</td>
                      <td>1,49372638</td>
                      <td>0,87773892</td>
                    </tr>
                    <tr>
                      <th class="header" scope="col">Test de autonomía</th>
                      <td>5,24336752</td>
                      <td>1,49372638</td>
                      <td>0,87773892</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>

        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Nuestras predicciones</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="carga1; else noCargado">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col" >Temperatura (C°)</th>
                      <th class="header" scope="col">Presion (hPa)</th>
                      <th class="header" scope="col">Humedad (%)</th>
                      <th class="header" scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let datos of Modelo2;">
                      <td>{{datos.AMBIENT_TEMPERATURE}}</td>
                      <td>{{datos.AIR_PRESSURE}}</td>
                      <td>{{datos.HUMIDITY}}%</td>
                      <td>{{datos.utc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ng-template #noCargado>
                <div class="spinner-border text-primary align-middle" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <h3>Cargando...</h3><br>
              </ng-template>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_temp_m2" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_press_m2" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_hum_m2" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <!--Fin cntendino del TAB-->
      </div>
      <div class="tab-pane fade" id="nav-arima" role="tabpanel" aria-labelledby="nav-arima-tab">
        <!--Contenido del TAB-->
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Porcentaje de error promedio</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h2>Autoregressive Integrated Moving Average</h2>
              <!----------------------------------------------------------------------------------------------->
              <div class="table-wrapper-scroll-y my-custom-scrollbar_3">  
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col">Test</th>
                      <th class="header" scope="col">Humedad relativa</th>
                      <th class="header" scope="col" >Presion atmosferica</th>
                      <th class="header" scope="col">Temperatura</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="header" scope="col">Test tradicional</th>
                      <td>No aplica</td>
                      <td>No aplica</td>
                      <td>No aplica</td>
                    </tr>
                    <tr>
                      <th class="header" scope="col">Test de autonomía</th>
                      <td>5,48186191</td>
                      <td>7,58326669</td>
                      <td>0,90759371</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Nuestras predicciones</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="carga1; else noCargado">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col" >Temperatura (C°)</th>
                      <th class="header" scope="col">Presion (hPa)</th>
                      <th class="header" scope="col">Humedad (%)</th>
                      <th class="header" scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let datos of Modelo3;">
                      <td>{{datos.AMBIENT_TEMPERATURE}}</td>
                      <td>{{datos.AIR_PRESSURE}}</td>
                      <td>{{datos.HUMIDITY}}%</td>
                      <td>{{datos.utc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ng-template #noCargado>
                <div class="spinner-border text-primary align-middle" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <h3>Cargando...</h3><br>
              </ng-template>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_temp_m3" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_press_m3" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_hum_m3" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <!--Fin cntendino del TAB-->
      </div>

      <div class="tab-pane fade" id="nav-lstm" role="tabpanel" aria-labelledby="nav-lstm-tab">
        <!--Contenido del TAB-->
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Porcentaje de error promedio</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h2>Long Short-Term Memory</h2>
              <!----------------------------------------------------------------------------------------------->
              <div class="table-wrapper-scroll-y my-custom-scrollbar_3">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col">Test</th>
                      <th class="header" scope="col">Humedad relativa</th>
                      <th class="header" scope="col" >Presion atmosferica</th>
                      <th class="header" scope="col">Temperatura</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="header" scope="col">Test tradicional</th>
                      <td>3,97038671</td>
                      <td>0,65419143</td>
                      <td>0,68627701</td>
                    </tr>
                    <tr>
                      <th class="header" scope="col">Test de autonomía</th>
                      <td>5,04324782</td>
                      <td>2,4992333</td>
                      <td>0,81165004</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>

        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Nuestras predicciones</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="carga1; else noCargado">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col" >Temperatura (C°)</th>
                      <th class="header" scope="col">Presion (hPa)</th>
                      <th class="header" scope="col">Humedad (%)</th>
                      <th class="header" scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let datos of Modelo4;">
                      <td>{{datos.AMBIENT_TEMPERATURE}}</td>
                      <td>{{datos.AIR_PRESSURE}}</td>
                      <td>{{datos.HUMIDITY}}%</td>
                      <td>{{datos.utc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ng-template #noCargado>
                <div class="spinner-border text-primary align-middle" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <h3>Cargando...</h3><br>
              </ng-template>
            </blockquote>
          </div>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_temp_m4" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_press_m4" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="espacio2">

        </div>

        <div class="chart" *ngIf="carga1;">
          <canvas baseChart width="2" height="1"
              [datasets]="lineChartData_hum_m4" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas>
        </div>


        <!--Fin cntendino del TAB-->

      </div>

      <div class="tab-pane fade" id="nav-error" role="tabpanel" aria-labelledby="nav-error-tab">
        <!--Contenido del TAB-->
        <div class="card text-center border border-primary">
          <div class="card-header bg-primary">
            <h5 class="text-bar">Porcentaje de error en los modelos</h5>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div class="table-wrapper-scroll-y my-custom-scrollbar_2" *ngIf="carga1; else noCargado">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th class="header" scope="col">Variable</th>
                      <th class="header" scope="col" >RF</th>
                      <th class="header" scope="col">DNN</th>
                      <th class="header" scope="col">ARIMA</th>
                      <th class="header" scope="col">LSTM</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="header" scope="col">Temperatura</th>
                      <td>{{PError_Temp[0]}}%</td>
                      <td>{{PError_Temp[1]}}%</td>
                      <td>{{PError_Temp[2]}}%</td>
                      <td>{{PError_Temp[3]}}%</td>
                    </tr>
                    <tr>
                      <th class="header" scope="col">Presion</th>
                      <td>{{PError_Press[0]}}%</td>
                      <td>{{PError_Press[1]}}%</td>
                      <td>{{PError_Press[2]}}%</td>
                      <td>{{PError_Press[3]}}%</td>
                    </tr>
                    <tr>
                      <th class="header" scope="col">Humedad</th>
                      <td>{{PError_Hum[0]}}%</td>
                      <td>{{PError_Hum[1]}}%</td>
                      <td>{{PError_Hum[2]}}%</td>
                      <td>{{PError_Hum[3]}}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ng-template #noCargado>
                <div class="spinner-border text-primary align-middle" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <h3>Cargando...</h3><br>
              </ng-template>
            </blockquote>
          </div>
        </div>

        


        <!--Fin cntendino del TAB-->

      </div>


    </div>
  </div>