
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="card text-center border border-primary">
    <div class="card-header bg-primary">
        <h5 class="text-bar">Proyecto</h5>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et ullamcorper velit. Maecenas interdum semper leo, et lobortis augue finibus non. Phasellus tempus maximus volutpat. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis nulla id ipsum sollicitudin porta. Ut tristique ut est in vulputate. Aliquam fermentum nisl nibh, fringilla venenatis risus maximus consectetur.

            Pellentesque sem est, mollis sit amet pretium ut, blandit nec eros. Nulla sed sem vel mi rutrum pretium a a lorem. Nam eu magna et nulla facilisis mattis at et neque. Maecenas velit nulla, accumsan eu efficitur aliquam, malesuada a dui. Sed quis dui eget augue bibendum efficitur. Etiam eleifend tincidunt mi et molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas auctor, risus sed scelerisque sollicitudin, dui felis lacinia metus, id scelerisque est sapien quis est. In cursus mi augue, et dapibus libero varius non. Nullam condimentum at nibh vel fermentum. Vivamus sed neque cursus, pharetra sapien eget, condimentum ipsum. Nullam sed fermentum quam. Pellentesque at auctor felis. Quisque pretium laoreet efficitur. Duis vestibulum convallis sagittis.
        </p>
      </blockquote>
    </div> 
</div>
<div>
    <br>
</div>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">NUESTRO EQUIPO</h5>
        <div class="row">
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid mx-auto d-block" src="../../../assets/img/avatar-scafolding.jpg" alt="card image"></p>
                                    <h4 class="card-title">Eduardo Dávalos</h4>
                                    <p class="card-text">Programador de la plataforma web.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Eduardo Dávalos</h4>
                                    <p class="card-text">Alumno practicante de la Universidad de Tarapacá
                                      
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <h2>
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.google.cl/">
                                                    <i class="fab fa-linkedin icono fixed-bottom"></i>
                                                </a>
                                            </h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Otro del team-->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid mx-auto d-block" src="../../../assets/img/avatar-scafolding.jpg" alt="card image"></p>
                                    <h4 class="card-title">Eduardo Dávalos</h4>
                                    <p class="card-text">Programador de la plataforma web.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Eduardo Dávalos</h4>
                                    <p class="card-text">Alumno practicante de la Universidad de Tarapacá
                                      
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <h2>
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.google.cl/">
                                                    <i class="fab fa-linkedin icono fixed-bottom"></i>
                                                </a>
                                            </h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Otro del team-->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid mx-auto d-block" src="../../../assets/img/avatar-scafolding.jpg" alt="card image"></p>
                                    <h4 class="card-title">Eduardo Dávalos</h4>
                                    <p class="card-text">Programador de la plataforma web.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Eduardo Dávalos</h4>
                                    <p class="card-text">Alumno practicante de la Universidad de Tarapacá
                                      
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <h2>
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.google.cl/">
                                                    <i class="fab fa-linkedin icono fixed-bottom"></i>
                                                </a>
                                            </h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Otro del team-->


            <!--Otro del team-->


            <!--Otro del team-->

        </div>
    </div>
</section>
