<div class="card text-center border border-primary">
    <div class="card-header bg-primary">
        <h5 class="text-bar">Equipo de trabajo</h5>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et ullamcorper velit. Maecenas interdum semper leo, et lobortis augue finibus non. Phasellus tempus maximus volutpat. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis nulla id ipsum sollicitudin porta. Ut tristique ut est in vulputate. Aliquam fermentum nisl nibh, fringilla venenatis risus maximus consectetur.

Pellentesque sem est, mollis sit amet pretium ut, blandit nec eros. Nulla sed sem vel mi rutrum pretium a a lorem. Nam eu magna et nulla facilisis mattis at et neque. Maecenas velit nulla, accumsan eu efficitur aliquam, malesuada a dui. Sed quis dui eget augue bibendum efficitur. Etiam eleifend tincidunt mi et molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas auctor, risus sed scelerisque sollicitudin, dui felis lacinia metus, id scelerisque est sapien quis est. In cursus mi augue, et dapibus libero varius non. Nullam condimentum at nibh vel fermentum. Vivamus sed neque cursus, pharetra sapien eget, condimentum ipsum. Nullam sed fermentum quam. Pellentesque at auctor felis. Quisque pretium laoreet efficitur. Duis vestibulum convallis sagittis.
        </p>

        <div class="row">
            <div class="col" align="center">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/avatar-scafolding.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>
            <div class="col" align="center">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/avatar-scafolding.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col" align="center">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/avatar-scafolding.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>

            <div class="col" align="center">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/avatar-scafolding.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col" align="center">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/avatar-scafolding.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>
            <div class="col" align="center">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/img/lil_empresa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Eduardo Dávalos</h5>
                      <p class="card-text">Estudiante practicante de la Universidad de Tarapacá</p>
                      <a href="https://cl.linkedin.com/in/eduardo-davalos-8264ba142" class="btn btn-primary" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
            </div>

        </div>
        
      </blockquote>
    </div>
  </div>