<div class="card text-center border border-primary">
    <div class="card-header bg-primary">
        <h5 class="text-bar">Repositorio</h5>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Un repositorio es un espacio centralizado donde se almacena, organiza, mantiene y difunde información digital, habitualmente archivos informáticos, que pueden contener trabajos científicos, conjuntos de datos o software.
        </p>
        <p>  
          Actualmente se ofrecen tres archivos en formato <b>“.csv”</b>, lo cuales cada uno contiene información concerniente al clima de la ciudad de Iquique. El archivo llamado <b>“registros.csv”</b>, contiene todas las variables climáticas capturadas por los distintos sensores distribuidos a lo largo de la ciudad.
        </p>
        <p>
          Por otro lado <b>“climas.csv”</b>, contiene la temperatura captada en la ciudad de Iquique a lo largo del tiempo, acompañado de la presión, humedad y condición climática.
        </p>
        <p>
          Por último están los archivos llamados <b>"predicciones.csv"</b>, en estos se almacenan las predicciones climáticas realizado por nuestros modelos a lo largo del tiempo.
        </p>
        <div class="container">
          <div class="row">
            <div class="col">
              <div *ngIf="registro; else noRegistro">
                <a href="assets/img/WEATHER_MEASUREMENT.csv" download="WEATHER_MEASUREMENT.csv" type="button" class="btn btn-primary t btn-md boton" ><i class="fas fa-download"></i> 
			Descargar registros.csv - ({{pesos[0]["Tamaño (MB)"]}}MB) 
		</a>
		<!--<button type="button" class="btn btn-primary t btn-md boton" ><i class="fas fa-download"></i> <a href="assets/img/WEATHER_MEASUREMENT.csv" download="WEATHER_MEASUREMENT.csv">Descargar registros.csv - ({{pesos[0]["Tamaño (MB)"]}}MB)</a></button>-->
              </div>
	      <ng-template #noRegistro>
                <button class="btn btn-primary btn-md boton" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		  <!--<a download="WEATHER_MEASUREMENT.csv">Descargar registros.csv - ({{pesos[0]["Tamaño (MB)"]}}MB)</a>-->
                </button>
		</ng-template>
            </div>
            <div class="col">
              <div *ngIf="clima; else noRegistro">
                <button type="button" class="btn btn-primary t btn-md boton" (click)="descargar_climas()"><i class="fas fa-download"></i> Descargar climas.csv - ({{pesos[5]["Tamaño (MB)"]}}MB)</button>
              </div>
              <ng-template #noRegistro>
                <button class="btn btn-primary btn-md boton" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Descargar climas.csv - ({{pesos[5]["Tamaño (MB)"]}}MB)
                </button>
              </ng-template>
            </div>
            
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <div *ngIf="prediccion[0]; else noRegistro">
                <button type="button" class="btn btn-primary t btn-md boton" (click)="descargar_prediccion('rfPredictions')"><i class="fas fa-download"></i> Descargar predicciones RF.csv - ({{pesos[4]["Tamaño (MB)"]}}MB)</button>
              </div>
              <ng-template #noRegistro>
                <button class="btn btn-primary btn-md boton" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Descargar predicciones RF.csv - ({{pesos[4]["Tamaño (MB)"]}}MB)
                </button>
              </ng-template>
            </div>
            <div class="col">
              <div *ngIf="prediccion[1]; else noRegistro">
                <button type="button" class="btn btn-primary t btn-md boton" (click)="descargar_prediccion('dnnPredictions')"><i class="fas fa-download"></i> Descargar predicciones DNN.csv - ({{pesos[2]["Tamaño (MB)"]}}MB)</button>
              </div>
              <ng-template #noRegistro>
                <button class="btn btn-primary btn-md boton" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Descargar predicciones DNN.csv - ({{pesos[2]["Tamaño (MB)"]}}MB)
                </button>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <div *ngIf="prediccion[2]; else noRegistro">
                <button type="button" class="btn btn-primary t btn-md boton" (click)="descargar_prediccion('arimaPredictions')"><i class="fas fa-download"></i> Descargar predicciones ARIMA.csv - ({{pesos[1]["Tamaño (MB)"]}}MB)</button>
              </div>
              <ng-template #noRegistro>
                <button class="btn btn-primary btn-md boton" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Descargar predicciones ARIMA.csv - ({{pesos[1]["Tamaño (MB)"]}}MB)
                </button>
              </ng-template>
            </div>
            <div class="col">
              <div *ngIf="prediccion[3]; else noRegistro">
                <button type="button" class="btn btn-primary t btn-md boton" (click)="descargar_prediccion('predictions')"><i class="fas fa-download"></i> Descargar predicciones LSTM.csv - ({{pesos[3]["Tamaño (MB)"]}}MB)</button>
              </div>
              <ng-template #noRegistro>
                <button class="btn btn-primary btn-md boton" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Descargar predicciones LSTM.csv - ({{pesos[3]["Tamaño (MB)"]}}MB)
                </button>
              </ng-template>
            </div>
          </div>
        </div>
        
        
      </blockquote>
    </div>
  </div>

  <div class="espacio"></div>
